
/*  ************************************************************************  *
 *                                 notes.css                                  *
 *  ************************************************************************  */

/*  This style sheet is for all document pages in the Notes subweb. Include 
    after MASTER.CSS and DOCUMENT.CSS.  */

/*  Familiarity with both those stylesheets and their comments is assumed!  */

/*  ************************************************************************  */
/*  Character Styles  */

.attribute, .bcdobj, .bcdopt, .bit, .catid, .class, .clsid, .command, 
.constant, .cssattribute, .cssproperty, .cssselector, .enum, .env, .event, 
.function, .group, .guid, .htmlattribute, .htmlelement, .htmltag, .inikey, 
.inisect, .instruction, .interface, .licvalue, .literal, .keyword, .macro, 
.member, .message, .method, .object, .placeholder, .property, .register, 
.regkey, .regsz, .regvalue, .routine, .section, .segment, .shortcut, 
.struct, .switch, .symbol, .terminal, .type, .undocumented, .variable, 
.xmlcomment {
}

/*  By default, these CLASS names double as tooltips. Script in NOTES.JS 
    elaborates some of them.  */

span.attribute,
span.bcdobj,                            /*  BCD object (boot entry)  */
span.bcdopt,                            /*  BCD element (boot option)  */
span.bit, 
span.catid,                             /*  CATID  */
span.class, 
span.clsid,                             /*  CLSID  */
span.command, 
span.constant,
span.cssattribute,                      /*  CSS attribute  */
span.cssproperty,                       /*  CSS property  */
span.cssselector,                       /*  CSS selector  */
span.enum, 
span.env,                               /*  environment variable  */
span.event, 
span.function, 
span.group, 
span.guid,                              /*  GUID  */
span.htmlattribute,                     /*  HTML attribute  */
span.htmlelement,                       /*  HTML element  */
span.htmltag,                           /*  HTML tag  */
span.inikey,                            /*  entry in .INI file  */
span.inisect,                           /*  section in .INI file  */
span.instruction, 
span.interface, 
span.licvalue,                          /*  license value  */
span.literal, 
span.keyword, 
span.macro, 
span.member, 
span.message, 
span.method, 
span.object, 
span.property, 
span.register, 
span.regkey,                            /*  registry key  */
span.regsz,                             /*  registry string data  */
span.regvalue,                          /*  registry value  */
span.routine, 
span.section, 
span.segment, 
span.struct, 
span.switch, 
span.symbol, 
span.terminal, 
span.type, 
span.variable {
    font-weight:bold
}

span.placeholder {
    font-style:italic
} 

span.shortcut {
    text-decoration:underline;
}

/*  For colour-coded documentation status  */ 

span.undocumented {
    background-color:#FFFF00;
}

/*  In XML source code  */

pre.source span.xmlattrname {
   color:#FF0000;                       /* attribute name */
}

pre.source span.xmlattrvalue {
    color:#0000FF;                      /* attribute value */
}

pre.source span.xmlcomment {            /* comment */
    color:#006600;
}

pre.source span.xmltag {                /* tag */
    color:#993333;
}

/*  ************************************************************************  */
/*  Images  */

img.icon {
    vertical-align:middle;
}

/*  ************************************************************************  */
/*  Tables  */

/*  The house style for tables is defined in DOCUMENT.CSS. Here, we decorate 
    for particular purposes, especially for right-alignment of text in some 
    columns. 

    CLEAN SLATE! Sort out everything else, then come back to the ridiculous 
    mess that CSS makes of table styling.  */

/*  ************************************************************************  *
 *        Copyright © 2007-2021. Geoff Chappell. All rights reserved.         *
 *  ************************************************************************  */
