
/*  ************************************************************************  *
 *                                 win32.css                                  *
 *  ************************************************************************  */

/*  This style sheet is for all document pages in the Win32 subweb. Include 
    after MASTER.CSS and DOCUMENT.CSS.  */

/*  Familiarity with both those stylesheets and their comments is assumed!  */

/*  ************************************************************************  */
/*  Character Styles  */

.argument, .attribute, .bcdobj, .bcdopt, .bit, .catid, .class, .clsid, 
.command, .constant, .cssattribute, .declared, .delayed, .delayedwdk, 
.directive, .enum, .env, .function, .functionprefix, .guid, .htmlattribute, 
.htmlelement, .htmltag, .iid, .inikey, .inisect, .instruction, .interface, 
.licvalue, .literal, .lowlevel, .keyword, .macro, .member, .message, 
.method, .object, .obsolete, .placeholder, .register, .regkey, .regsz, 
.regvalue, .reserved, .routine, .section, .segment, .settlement, .struct, 
.switch, .symbol, .tag, .terminal, .type, .undocumented, .union, .value, 
.variable, .wdk {
}

span.argument, 
span.placeholder {
  font-style:italic
} 

span.attribute,
span.bcdobj,                    /*  BCD object (boot entry)  */
span.bcdopt,                    /*  BCD element (boot option)  */
span.bit, 
span.catid,                     /*  CATID  */
span.class, 
span.clsid,                     /*  CLSID  */
span.command, 
span.constant, 
span.cssattribute,              /*  CSS attribute  */
span.directive, 
span.enum, 
span.env,                       /*  environment variable  */
span.function, 
span.functionprefix,            /*  prefix for function name  */
span.guid,                      /*  GUID  */
span.htmlattribute,             /*  HTML attribute  */
span.htmlelement,               /*  HTML element  */
span.htmltag,                   /*  HTML tag  */
span.iid,                       /*  IID  */
span.inikey,                    /*  entry in .INI file  */
span.inisect,                   /*  section in .INI file  */
span.instruction, 
span.interface, 
span.licvalue,                  /*  license value  */
span.literal, 
span.keyword, 
span.macro, 
span.member, 
span.message, 
span.method, 
span.object, 
span.register, 
span.regkey,                    /*  registry key  */
span.regsz,                     /*  registry string data  */
span.regvalue,                  /*  registry value  */
span.routine, 
span.section, 
span.segment, 
span.struct, 
span.switch, 
span.symbol, 
span.tag, 
span.terminal, 
span.type, 
span.union, 
span.value, 
span.variable {
  font-weight:bold
}

/*  For colour-coded documentation status - increasing order of importance 
    is very much depended on  */

.declared, .delayed, .lowlevel, .minwin, .obsolete, .reserved, .settlement, 
.undocumented, .wdk, .wdkdecl {
}

span.undocumented {
  background-color:#FFFF00;     /* highlighted yellow */
}

span.delayed {
  background-color:#FFFF99;     /* shaded yellow */
}

span.settlement {
  background-color:#FFFFCC;     /* less yellow */
}

span.wdk {                      /* documented in WDK */
  background-color:#CCFFCC;     /* shaded green */
}

span.delayed.wdk {
  background-color:#EEFF99;     /* green tinge */ 
}

span.declared,                  /* undocumented but declared */
span.declared.wdk, 
span.wdkdecl {                  /* undocumented but declared in WDK */
  background-color:#FFEE99;     /* shaded orange */
}

span.minwin {                   /* undocumented but declared in "minwin" disclosure */
  background-color:#FFCC66;     /* highlighted orange */
}

/* span.lowlevel {
  background-color:#CCCCFF;     /* shaded blue */
/* } */

span.obsolete,                  /* documented as obsolete */
span.obsolete.wdk {
  background-color:#CCCCCC;     /* shaded gray */
}

span.reserved,                  /* documented as reserved */
span.reserved.wdk {
  background-color:#FFCCCC;     /* shaded red */
}

/*  ************************************************************************  */
/*  Images  */

img.icon {
  vertical-align:middle;
}

/*  ************************************************************************  */
/*  Tables  */

/*  The house style for tables is defined in DOCUMENT.CSS. Here, we decorate 
    for particular purposes, especially for right-alignment of text in some 
    columns. 

    CLEAN SLATE! Sort out everything else, then come back to the ridiculous 
    mess that CSS makes of table styling.  */

/*  A few classes are relatively straightforward.  */

/*  ========================================================================  */

/*  Every TABLE of ProductVersions starts with a single COL of class 
    ProductVersion. To its right is at least one COL of class Package. When 
    there is more than one, each TH in the whole column box is explicitly 
    assigned to Distribution.  */

table.ProductVersions td {
  white-space:nowrap;
}

table.ProductVersions th.Distribution {
  text-align:center;
}

/*  ========================================================================  */

/*  Every TABLE of FileVersions is a simple grid with columns assigned to 
    classes in the order: Version, Date, Size, Package.  */    

table.FileVersions td {
  white-space:nowrap;
}

table.FileVersions col.Size, 
table.FileVersions th:first-child + th + th, 
table.FileVersions td:first-child + td + td {
  text-align:right;
}    

/*  ========================================================================  */

/*  The tables of Functions might be left to defaults. Notably, no text 
    alignment is wanted in any column. Recommended practice is to keep all 
    text brief, but word lengths in the Name column are not ours to control. 
    On a narrow screen, the other columns are the ones that will get 
    narrowed. Text in these must in some cases spread over multiple lines 
    and gets silly if word-wrapping spreads it over even more lines. Even in 
    the Names column, the space-free name may be followed by an ordinal in 
    parentheses after a space, and this too looks better if not broken at 
    the space If only for now, disable wrapping in all cells.  */

table.Functions td {
  white-space:nowrap;
}

/*  ************************************************************************  *
 *        Copyright © 2007-2022. Geoff Chappell. All rights reserved.         *
 *  ************************************************************************  */
