
table.Extractions colgroup.Master 
{
  border-right-width:2px;
}

table.Extractions colgroup.Targets 
{
  border-left-width:2px;
}

table.Extractions td.Left,
table.Extractions th.Left {
  border-right-width:2px;
}

table.Extractions th.Left {
  text-align:center;
}
